
/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&family=Delius&family=Noto+Sans+Display:ital,wght@0,404;1,404&family=Outfit:wght@100..900&display=swap');



/* Global Styles */


.navbar {
    background-color: #A294F9 !important;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    position: sticky;
}


.active {
    text-decoration: underline;
}


a {
    font-family: 'Outfit', serif;
}



.header-style {
    min-height: 500px;
    background-size: cover;
    background-position: center;
    padding: 5px;
}

body {
    background-color: #CDC1FF;
}

.colour-1 {
    background-color:#F5EFFF;
}

.colour-2 {
    background-color: #E5D9F2;
}


h1, h2, h3 {
    font-family: 'Cabin Sketch', sans-serif;
    margin: 10px;
}

.underline:hover {
    text-decoration: underline;
}

p {
    font-family: 'Outfit', serif;
    text-align: justify;
    margin-bottom: 0px;
}

footer {
    background-color: #A294F9;
    padding-top: 7px;
}

i {
    margin-bottom: 20px;
    max-width: 25px;
    max-height: 25px;
}

.fa-facebook-f {
    padding-right: 10px;
}

.fa-x-twitter {
    padding-left: 10px;
}

.btn {
    background-color: #A294F9;
    margin: 10px;
    border-color: #F5EFFF;
}


/* Navigation */

nav > a { /* Only the direct descendent - the 'Folkestone Dogs' logo has this padding */
    padding-left: 8px;
} 


nav a {
    transition: color 0.4s ease !important;
}


nav a:hover {
    color: white !important;
}

.navbar-nav a {
    padding-left: 10px;
}

.navbar-toggler {
    padding-left: 5px;
    border-color: #A294F9;
}



/* Hero's */

.hero-booking {
    background-image: url("../assets/images/booking-header-medium.jpg");
}

.hero-services {
    background-image: url("../assets/images/services-header-medium.jpg");
}

.hero-home {
    background-image: url("../assets/images/header-home-medium.jpg");
}



/* Paragrpah Links */

p a {
    transition: color 0.4s ease;
}

p a:hover {
    color: #A294F9; /* Changes links in P's to white when hovered over. */
}



/* Learn More button */

.learn-more-button {
    color: black;
    background-color: #E5D9F2;
    margin: 10px;
    border-color: black;
}



/* Copyright */

.copyright p {
    font-size: smaller;
    padding-top: 15px;
}



/* Booking Page */

.booking-form {
    background-color: #F5EFFF;
    padding-top: 10px;
}


label {
    font-family: 'Outfit', serif;
}


form .btn {
    margin-bottom: 19px;
}



/* Services Page */

.paragraph-custom {
    padding: 0 20px 10px;
}



/* h2 custom */

.custom-h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 30px;
}



/* Success page */

.success-spacing {
    padding-top: 100px;
    padding-bottom: 20px;
}

.success-image img {
    height: 400px;
    width: 500px;
    border-radius: 20%;
    padding: 15px 0px;
}




.home-h2 {
    font-family: 'Outfit', sans-serif;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0px 40px;
}




/* Container heights */

#extra-mile {
    min-height: 300px;
}

#services-day-care {
    min-height: 350px;
}

#services-training {
    min-height: 335px;
}



/* 'What we do' container - displayed Via flex to keep the images at equal height all the time */


.what-we-do {
    display: flex;
    min-height: 450px;
    gap: 20px; /* Gap between collumns */
    align-items: flex-start;
}

.service {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.service p {
    flex-grow: 1;
}

.service img {
    margin-top: auto;
    width: 100%;
    object-fit: cover;
}




/* 'we go the extra mile' paragraph sections */

.extra-space {
    padding: 8px;
}



/* Book button on services page */

.book-button {
    padding-bottom: 15px;
}




/* images */


.image-size {
    max-width: 250px;
    height: 250px;
    border-radius: 20%;
    padding-bottom: 12px;
}

.centre-items {
    display: flex;
    align-items: center;
    justify-content: center;
}



/* Carousel - home */

.carousel img {
    visibility: hidden;
    max-height: 100px !important;
    max-width: 400px;

}

.carousel p {
    font-family: 'Outfit', serif;
    color: black;
    text-align: center;
}



/* Map */

.map-style {
    display: inline-block;
}

.map-style iframe {
    width: 100%;
    padding: 10px;
}

.map p {
    text-align: center;
}



/* Footer */

footer p {
    text-align: center;
}

.got-questions {
    padding-top: 5px;
}

.social-links {
    padding-top: 5px;
}

.social-links i {
    padding-top: 10px;
}

.back-home {
    padding-top: 5px;
    align-items: center;
    justify-content: center;
}

footer a {
    transition: color 0.4s ease !important;
}

footer a:hover {
    color: white;
}




/* media queires */



/* 1. Subheading - home */

@media screen and (min-width: 992px) {
    h2 {
        margin: 10px 230px; /* This compresses the subheading so it is lesss spread out when screen is greater than 1440px */
    }
}

/* 2. Header Image */

@media screen and (max-width: 400px) {
    .hero-home {
        background-position: center 25px; /* shifts header image down on mobiles so the button doesn't cover dogs face */
    }
}

/* 3. Follow Our Socials padding top for smaller screens */

@media screen and (max-width: 425px) {
    .social-links {
        padding-top: 20px;
    }
}

/* 4. Carousel - allows the text to be seen for mobiles */

@media screen and (min-width: 320px) {
    .d-md-block {
        display: block !important;
        font-size: smaller;
    }
}

/* 5. Navigation bar */

@media screen and (min-width: 576px) {
    .navbar-nav {
        margin-left: auto; /* Shifts the open navbar to the far right, away from the Logo 'Folkestone dogs' on the left */
    }
}





