/* Google Fonts */

/* Delius Statis - Headers */
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
/* Nato Sans - Standard Text/Paragraphs */
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Noto+Sans+Display:ital,wght@0,100..900;1,100..900&display=swap');


/* Global Styles */

#hero {
    background-color: #E5D9F2;
}

h1, h2, h3 {
    font-family: 'Delius', sans-serif;
    align-items: center;
}

p {
    font-family: 'Nato Sans', sans-serif;
}


